/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

textarea:focus, input:focus{
    outline: none;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.search-view {
    overflow: hidden;
}

.scroll-area {
    height: 200px;
    overflow: auto;
}

.top-bar {
    position: relative;
    width: 100%;
    height: 2rem;
    box-sizing: border-box;
    background-color: #F0EFF5;
}


.top-bar .delete-btn {
    display: inline-block;
    border-radius: 100%;
    width: 0.5rem;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    font-size: 0.4rem;
    color: #fff;
    background-image: url('../img/delete.jpeg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    position: absolute;
    top: 50%;
    right: 12%;
    margin-top: -0.25rem;
}

.top-bar .search-icon {
    width: 1rem;
    height: 1rem;
    background-image: url('../img/search_icon.png');
    background-size: 0.6rem 0.6rem;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 50%;
    left: 11%;
    margin-top: -0.5rem;
    z-index: 99;
}

.search-bar {
     /* Remove First */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: block;
    width: 80%;
    height: 1.4rem;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 1rem;
    border-radius: 0.2rem;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -0.7rem;
    box-shadow: none;
    border: 1px solid #ccc;
    font-size: 0.6rem;
}

.keywords-bar {
    border-bottom: 1px solid #f0f0f0;
}
.keywords-bar ul {
    white-space: nowrap;
}

.keywords-bar li {
    display: inline-block;
    font-size: 0.6rem;
    background-color: #F0EFF5;
    color: #555;
    padding: 0.2rem;
    margin: 0.6rem 0.6rem;
    width: 3rem;
    text-align: center;
}

.msg {
    font-size: 0.6rem;
    color: #ccc;
    padding: 0.4rem 0.6rem 0rem 0.6rem;
}

.result-item {
    display: block;
    height: 3.5rem;
    border-bottom: 1px solid #f0f0f0;
    padding: 0 0.5rem;
    overflow:hidden;
}

.result-item:last-child {
   border-bottom: none;
}

.result-item img {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    padding: 0.1rem;
    margin-right: 0.6rem;
    float: left;
    margin-top: 0.6rem;
}

.result-item .flex-box {
    display: inline-block;
    float: left;
    height: 3.5rem;
    word-wrap: break-word;
    width: 80%;
    font-size: 0.6rem;
    color: #444;
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

.result-item .flex-box div {
    display: block;
}

.empty-result {
    height: 100%;
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */

    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.empty-result p {
    width: 100%;
    text-align: center;
    font-size: 0.6rem;
    color: #ccc;
    margin: 0.5rem 0;
}

.keyword {
    color: green;
}


